body{   
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
}
header{
    height: 60px;
    width: 100%;
}
.navbar{
    position: absolute;
    width: 100%;
    background-color: #393E46;
    height: 60px;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-align: center;
    width: 50%;
    justify-self: end;
    margin: 0;
}

.nav-links{
    width: fit-content
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #DDDDDD;
}

@media screen and (max-width: 768px){
    .top-container{
        position: relative;   
        height: 240px;
        width: 100%;      
    }

    .banner{
        color: #DDDDDD;
        font-family: 'Sacramento', cursive;
        font-size: 55px;
        font-weight: 900;
        width: 350px; 
        margin: 0 auto;   
    }

    .space{
        height: 290px !important;
        width: 100%;
        background: linear-gradient(#BB9D71, #665651);
        opacity: 3px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        padding-left: 0;
    }

    .nav-menu.active{
        background-color: #393E46;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        width: 100%;
    }

    .nav-links{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color:#635985;
        transition: all 0.4s ease;
        color: #DDDDDD;
        transition: all 0.4s ease-out;
    }

    .navbar{
        width: 100%;
    }

    .nav-links{       
        background-color:#393E46;
        transition: all 0.4s ease;
    }

    a{
        text-decoration: none;
        color: #DDDDDD;
    }

    a:hover{
        color: #30475E;
        transition: all 0.2s ease-out;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;      
    }

    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover{
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(8px) rotate(45deg);
    }
}

.title{
    display: inline-block;
    width: fit-content;
    position: absolute;
    color: #635985;
    padding-top: 7px;
    font-family: 'Sacramento', cursive;
    font-size: 2rem; 
    left: 5%;
    height: 50px;
}
.top{
    display: inline-block;
    width: 30%;
    position: absolute;
    left: 68%;
    margin: 17px auto;  
}
.subtitle{
    display: inline-block;
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
}
a{
    text-decoration: none;
    color: #DDDDDD;
}
a:hover{
    color: #635985;
    transition: all 0.2s ease-out;
}
.space{
    height: 240px;
    width: 100%;
    background: linear-gradient(#BB9D71, #665651);
    opacity: 3px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.banner{
    padding-top: 115px;
    color: #DDDDDD;
    font-family: 'Sacramento', cursive;
    font-size: 55px;
    font-weight: 900;

}
.top-container{
    position: relative;  
    width: 100%;
    height: 400px;
    background-image: url("../CatalogueImages/IMG-20230212-WA0078.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.main{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.pb-2{
    width: 85em;
    text-align: left;
    margin-bottom: 40px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    
}
.card-text{
    text-align: left;
}
.card{
    position: static;
}
/* .col{
    height: 800px;
} */


/* .album{
    height: 800px;
} */
.mid-container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.contact-me{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    width: 50%;
    text-align: center;
    justify-content: center;
    box-shadow: inset 0;
    margin: 0 auto;
}
.head2{
    color: #913175;
}
h3{
    color: #635985;
    margin-top: 40px;
    /* width: 30% */
}
.para{
    /* width: 8em; */
    margin-top: 30px;
}
.btn{
    /*color: #03506F;*/
    margin-top: 40px;
    display: inline-block;
    color: #DDDDDD;
    background-color: #913175;
    border: solid 1px;  
    height: 40px;
    width: 4cm;  
    text-decoration-line: none;
    border-radius: 5px;   
    padding-top: 8px; 
}
.btn:hover{
    background: #fff;
    border-color: #913175;
    color: #913175;
}
.bottom-container{
    display: flex;
    background-color: #393E46;
    height: 100px;
    width: 100%;
    text-align: center;  
    font-family: 'Roboto', sans-serif;
}
.border-top{
    border-style: none !important;
}
footer{   
    padding-left: 5%; 
    padding-right: 5%;
    width: 100%;
}
.align-items-center {
    align-items: center!important;
}
.d-flex {
    display: flex!important;
}
.icon-img{
    height: 24px;
    width: 24px;
}
